<%= render "shared/banner" %>

<section>
  <div class="container">
    <div class="row text-left mt-5">
      <div class="col-12 col-sm-8 col-md-4 col-lg-4 m-sm-auto mr-md-auto ml-md-0">
        <%= link_to "#" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546695026/GoldenShoes/nathan-dumlao-593266-unsplash.jpg", class: 'img-fluid img-shoe rounded') %>
        <% end %>
        <div class="text-block">
          <h3 class="gender-label text-right"><%= link_to 'Men >', page_path('#') %></h3>
          <p>Explore the latest men's fashion.</p>
        </div>
      </div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-4 m-sm-auto pt-5 pt-md-0">
        <%= link_to "#" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546694879/GoldenShoes/misael-nevarez-131274-unsplash.jpg", class: 'img-fluid img-shoe rounded') %>
        <% end %>
        <div class="text-block">
          <h3 class="gender-label text-right"><%= link_to 'Women >', page_path('#') %></h3>
          <p>Explore the latest women's fashion.</p>
        </div>
      </div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-4 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0">
        <%= link_to "#" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546695484/GoldenShoes/alex-hiller-472933-unsplash_1.jpg", class: 'img-fluid img-shoe rounded') %>
        <% end %>
        <div class="text-block">
          <h3 class="gender-label text-right"><%= link_to 'Kids >', page_path('#') %></h3>
          <p>Explore our latest kids collection.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-4" style="background-color: #F5CC92 !important;">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item small-nav">
                    <a class="nav-link" href="#">Sports</a>
                </li>
                <li class="nav-item small-nav">
                    <a class="nav-link" href="#">Casual</a>
                </li>
                <li class="nav-item small-nav">
                    <a class="nav-link" href="#">Waterproof</a>
                </li>
                <li class="nav-item small-nav">
                    <a class="nav-link" href="#">High Heels</a>
                </li>
                <li class="nav-item small-nav">
                    <a class="nav-link" href="#">Ankle Boots</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="fdb-block section-heels">
  <div>
    <%= link_to "#" do %>
      <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546527650/GoldenShoes/jaclyn-moy-571597-unsplash.jpg", class: 'col-fill-right', id:'img-mobile-heels') %>
    <% end %>
  </div>

  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-5 text-center" style="top:11rem;">
        <h1>THE WAIT IS OVER</h1>
        <p class="lead">The latest heel collection handpicked for you.</p>
        <p class="mt-4 mb-5"><%= link_to 'Shop now >', page_path('category/heels'), class: "shopnow-button" %></p>
      </div>
    </div>
  </div>
</section>


<section class="fdb-block section-trainer" style="background-color: #F8F8F8">
  <div>
    <%= link_to "#" do %>
      <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546528258/GoldenShoes/imani-clovis-234736-unsplash.jpg", class: 'col-fill-left', id:'img-mobile-trainer') %>
    <% end %>
  </div>

  <div class="container">
    <div class="row justify-content-end">
      <div class="col-12 col-md-5 text-center trainer-description" style="top:10rem">
        <h1>WALKING ON AIR</h1>
        <p class="lead">Defy the laws of gravity in the new Nike Air VaporMax 2019.</p>

        <p class="mt-4"><%= link_to 'Shop now >', page_path('#'), class: "shopnow-button" %></p>
      </div>
    </div>
  </div>
</section>



<section class="fdb-block">
  <h2 class="text-center mt-5">PUMP UP YOUR LIFE</h2>
  <p class="lead text-center mb-5">Back to work with this gorgeous collection</p>
  <div class="container-fluid">
    <div class="row">
      <div class="scrollcards">

          <div class="card">
            <a href=""><img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687199/GoldenShoes/JAIDAFLATCGF_0C6944_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687279/GoldenShoes/ROMYFLATSUE_010003_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687315/GoldenShoes/JADENFLATYMN_0C3720_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top img-fluid" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687378/GoldenShoes/JENNIEFLATPGW_AA0009_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <a href=""><img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687420/GoldenShoes/JAIDAFLATSUE_010003_SIDE.jpg">
            </a>
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687463/GoldenShoes/ROMYFLATLAG_100017_SIDE.jpg">
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687524/GoldenShoes/GALAXYFLATTLI_000725_SIDE.jpg">
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 70</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546687626/GoldenShoes/JAIMIEFLATAEX_0C3868_SIDE.jpg">
            <div class="card-block">
              <h4 class="card-title text-center">MARINDA 64</h4>
              <p class="card-text text-center">£87</p>
            </div>
          </div>


      </div>
    </div>
   </div>
</section>


<section class="fdb-block py-0">
  <div class="section-spring py-5 my-5">
    <div class="row text-left py-5">
      <div class="col-12 col-sm-10 m-auto ml-md-5 col-md-8 col-lg-6">
        <div class="fdb-box">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-8 text-center">
              <h1>SPRING IS NEAR</h1>
              <p class="lead">A brand new collection is coming to you soon. You don't want to miss out on. </p>

              <p class="h3 mt-4 lead">
                Follow Us &nbsp;
                <a class="social-media-icon" href=""><i class="fab fa-instagram"></i></a>
                &nbsp;
                <a class="social-media-icon" href=""><i class="fab fa-facebook-f"></i></a>
                &nbsp;
                <a class="social-media-icon" href=""><i class="fas fa-envelope-open"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


