
<div class="container">

</div>

<section class="fdb-block">
    <div class="row pt-5 justify-content-center align-items-center">
      <div class="col-6 col-md-2 d-sm-none d-md-block">
        <a href="#">
        <img alt="image" class="img-fluid" id="test" src="https://res.cloudinary.com/lynn-de-souza/image/upload/v1546530552/GoldenShoes/Screen_Shot_2019-01-03_at_15.48.30.png">
        </a>
      </div>
      <div class="col-6 col-md-2 offset-md-1 indiv-heel">
        <%= link_to "#" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546532713/GoldenShoes/Screen_Shot_2019-01-03_at_16.24.48.png", class: 'img-fluid', id: 'blue-shoe') %>
        <% end %>
      </div>
      <div class="col-6 col-md-2 mt-4 mt-md-0 offset-md-1 indiv-heel">
        <%= link_to "#" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546532524/GoldenShoes/Screen_Shot_2019-01-03_at_16.21.29.png", class: 'img-fluid', id: 'silver-shoe') %>
        <% end %>
      </div>
      <div class="col-6 col-md-2 mt-4 mt-md-0 offset-md-1 indiv-heel">
        <%= link_to "#" do %>
          <%= image_tag("https://res.cloudinary.com/lynn-de-souza/image/upload/v1546532614/GoldenShoes/Screen_Shot_2019-01-03_at_16.23.11.png", class: 'img-fluid', id: 'boot-shoe') %>
        <% end %>
      </div>
    </div>

</section>

